<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

	<!-- The Spring application context for the web application. -->

<beans>

	<!--
		Notice that the /WEB-INF/applicationContext.xml includes the
		applicationContext.xml file from the classpath. This makes it easy to
		write JUnit integration tests that use ClassPathXMLApplicationContext.
	-->
	<import resource="classpath:resources/applicationContext.xml" />
</beans>